@model fortune_teller_mvc.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSiblings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSiblings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthMonth.MonthName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthMonth.MonthName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>

    </dl>*@

    @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) 
    will retire in @ViewBag.RetireIn years with @ViewBag.BankAccount in the bank, a vacation home in @ViewBag.Location, and a @ViewBag.Vehicle.
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
